.b-applications
{
	position:relative;
	padding:0;
	margin:0;
	min-height:240px;
	
	&__title {
	
		font-size:22px;
		font-weight:normal;
		line-height:26px;
		color:#f03124;
		margin:0 0 20px 0;
	}
	
	&__link {
	
		display:inline-block;
		font-size:18px;
		line-height:24px;
		color:#08628c;
		text-decoration:none;
		border-bottom:1px solid #b5d0dd;
		margin-left:250px;
	}

	&__link:hover {
	
		border-bottom-color:#08628c;
	}
	
	&__description {
		
		font-size:14px;
		line-height:20px;
		color:#babbbc;
		margin:10px 0 0 250px;
	}
	
	&__collection {
		
		font-size:12px;
		line-height:18px;
		padding:0;
		margin:0 0 0 250px;
		list-style:none;
		
		&__clause {
		
			float:left;
			width:50%;
			margin-top:15px;
		}
		
		&__link {
		
			display:inline-block;
			position:relative;
			margin-left:25px;
			color:#babbbc;
			text-decoration:none;
			border-bottom:1px solid #e1e3e5;
			
			&:before {
				
				position:absolute;
				top:50%;
				left:-25px;
				width:16px;
				height:16px;
				margin-top:-8px;
				background-image:url(images/graphics.png);
				background-repeat:none;
				content:"";
			}
			
			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		  
			  	&:before {
	
			  		background-image:url(images/graphics-2x.png);
					background-size: 500px 500px;
			  	}  
			}
			
			&_system_ios:before {
				
				width:14px;
				background-position:-51px -245px;
			}
			
			&_system_windows:before {
				
				background-position:-88px -245px;
			}
			
			&_system_android:before {
				
				width:13px;
				background-position:-70px -245px;
			}
			
			&_system_other:before {
				
				background-position:-110px -245px;
			}
			
			
		}
	
		&__link:hover {
		
			border-bottom-color:#babbbc;
		}
		
		&:after {
		
			display: block;
			content: ".";
			height: 0;
			clear: both;
			overflow: hidden;
			visibility: hidden;
		}
	}
	
	&__background {
		
		position:absolute;
		left:0;
		bottom:0;
		width:210px;
		height:195px;
		background:url(images/b-applications-background.jpg) no-repeat 0 0;
	}
	
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	
		&__background {
			
			background-image:url(images/b-applications-background-2x.jpg);
			background-size:210px 195px;
		}
	}
}
