.b-text-field
{
	margin:0;
	font-size:14px;
	height:30px;
	border:0;
	border-top:1px solid #a9a9a9;
	border-left:1px solid #c7c7c7;
	border-radius: 2px;
	box-shadow: 0px 0px 2px rgba(142,142,142,.6) inset;
	padding:0 5px;
	box-sizing:border-box;
	
	&_color_red {
	
		border-top-color:#d1372c;
		border-left-color:#da4e44;
		box-shadow: 0px 0px 2px rgba(209,55,44,.6) inset;
	}
	
	&_type_phone {
		
		display:inline-block;
		width:50px;
		margin-left:2px;
		vertical-align:top;
	}
	
	&_type_code {
		
		width:160px;
	}
	
	&_type_authorization_login,
	&_type_authorization_password {
		
		padding-left:35px;
	}
	
	&_type_registration_login,
	&_type_registration_password,
	&_type_registration_password_repeat {
		
		width:160px;
		margin-left:15px;
	}
	
	&_type_registration_login {
		
		margin-left:0;
	}
}
