.bem/cache
.idea
node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components
.DS_Store
.project
public/test
libs
*.bundles/*/*
!*.bundles/.bem/*
!*.bundles/*/blocks
!*.bundles/*/*.bemjson.js
