.b-copyright
{
	font-size:14px;
	line-height:20px;
	color:#373b43;
	
	&__link {
	
		font-size:12px;
		line-height:18px;
		color:#0a638f;
	}
	
	&__paragraph {
		
		margin:5px 0 0 0;
	}
	
	&__paragraph:first-child {
		
		margin-top:0;
	}
}
