.b-assistance-menu
{
	margin:0;
	
	&__title {
	
		font-size:11px;
		font-weight:bold;
		line-height:18px;
		text-transform:uppercase;
		margin-bottom:5px;
	}
	
	&__clause {
		
		font-size:12px;
		line-height:20px;
		margin:0;
	}
	
	&__link {
		
		color:#08628c;
		text-decoration:none;
		border-bottom:1px solid #b5d0dd;
	}
	
	&__link:hover {
		
		border-bottom-color:#08628c;
	}
}
