.b-applications
{
	padding:0;
	margin:0;
	min-height:220px;
	
	&__title {
	
		font-size:22px;
		font-weight:normal;
		line-height:26px;
		color:#f03124;
		margin:0 0 20px 0;
	}
	
	&__link {
	
		display:inline-block;
		font-size:18px;
		line-height:24px;
		color:#08628c;
		text-decoration:none;
		border-bottom:1px solid #b5d0dd;
		margin-left:250px;
	}

	&__link:hover {
	
		border-bottom-color:#08628c;
	}
	
	&__description {
		
		font-size:14px;
		line-height:20px;
		color:#babbbc;
		margin:10px 0 0 250px;
	}
	
	&__collection {
		
		font-size:12px;
		line-height:18px;
		padding:0;
		margin:0 0 0 250px;
		list-style:none;
		
		&__clause {
		
			float:left;
			width:50%;
			margin-top:15px;
		}
		
		&__link {
		
			color:#babbbc;
			text-decoration:none;
			border-bottom:1px solid #e1e3e5;
		}
	
		&__link:hover {
		
			border-bottom-color:#babbbc;
		}
		
		&:after {
		
			display: block;
			content: ".";
			height: 0;
			clear: both;
			overflow: hidden;
			visibility: hidden;
		}
	}
}
