.b-button
{
	&_color_white {

		display:block;
		width:100%;
		padding:0;
		margin:0;
		border: 0;
		font-size:14px;
		font-weight:bold;
		color:#404040;
		text-align:center;
		  border-radius: 2px;
		  background-image: -moz-linear-gradient( 90deg, rgb(251,213,211) 0%, rgb(253,231,229) 46%, rgb(254,248,247) 100%);
		  background-image: -webkit-linear-gradient( 90deg, rgb(251,213,211) 0%, rgb(253,231,229) 46%, rgb(254,248,247) 100%);
		  background-image: -ms-linear-gradient( 90deg, rgb(251,213,211) 0%, rgb(253,231,229) 46%, rgb(254,248,247) 100%);
		  box-shadow: 0.5px 0.866px 4px 0px rgb( 99, 17, 12,.8);
		  height: 36px;
		  text-shadow:0 1px 0 #fff;
	}
}
