.l-header
{
	position:relative;
	padding:40px 0;
	
	.b-logo {
		
		top:50%;
		left:0;
		margin-top:-22px;
	}
	
	.b-general-contacts {
		
		float:left;
		margin-left:420px;
	}
	
	.b-assistance-menu {
		
		float:right;
		width:150px;
	}
	
	&:after {
		
		display: block;
		content: ".";
		height: 0;
		clear: both;
		overflow: hidden;
		visibility: hidden;
	}
}
