.b-sociality-menu
{
	font-size:0;
	line-height:0;
	margin:0;
	
	&__title {
	
		font-size:11px;
		font-weight:bold;
		line-height:18px;
		text-transform:uppercase;
		margin-bottom:8px;
	}
	
	&__clause {
		
		display:inline-block;
		position:relative;
		width:26px;
		height:26px;
		background:#e21b17;
		margin:0 12px 0 0;
		border-radius:13px;
		
		&:before {
			
			position:absolute;
			top:50%;
			left:50%;
			background-image:url(images/graphics.png);
			background-repeat:no-repeat;
			content:"";
		}
		
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		  
		  	&:before {
	
		  		background-image:url(images/graphics-2x.png);
				background-size: 500px 500px;
		  	}  
		}
		
		&_network_vk:before {
			
			width:14px;
			height:8px;
			background-position: -165px -245px;
			margin:-4px 0 0 -7px;
		}
		
		&_network_facebook:before {
			
			width:7px;
			height:14px;
			background-position: -131px -245px;
			margin:-7px 0 0 -4px;
		}
		
		&_network_twitter:before {
			
			width:14px;
			height:11px;
			background-position: -144px -245px;
			margin:-5px 0 0 -7px;
		}
	}
	
	&__clause:last-child {
		
		margin-right:0;
	}
	
	&__link {
		
		display:block;
		position:relative;
		height:100%;
		z-index:2;
	}
}
