.b-rewards-previews
{
	.b-rewards-article {
	
		float:left;
		width:300px;
		margin-left:20px;
		padding:0 40px;
		text-align:center;
		
		&__link {
		
			color:#08628c;
			text-decoration:none;
			border-bottom:1px solid #b5d0dd;
		}
		
		&__link:hover {
			
			border-bottom-color:#08628c;
		}
			
		&__picture {
		
			display:block;
			width:150px;
			height:150px;
			margin:0 auto 20px auto;
			line-height:150px;
			overflow:hidden;
			text-align:center;
			
			&__entity {
			
				max-height:150px;
				vertical-align:middle;
			}
		}
		
		&__title {
			
			font-size:14px;
			line-height:20px;
			text-align:center;
		}
	}
	
	&:after {
		
		display: block;
		content: ".";
		height: 0;
		clear: both;
		overflow: hidden;
		visibility: hidden;
	}
}
