.b-tabs
{
	font-size:14px;
	line-height:30px;
	text-align:center;
	position:relative;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	
	&__clause {
	
		position:relative;
		height:34px;
		float:left;
		padding:0 20px;
		color:#b8c6d1;
		border-radius: 17px;
		margin-left:20px;
		border:2px dashed #dde5eb;
		box-sizing:border-box;
		
		&_state_current {
		
			color:#4d6172;
			border-style: solid;
			
			&:before {
				
				margin:-1px 7px 0 0;
				height:2px;
				background:#dde5eb;
				border:0;
				content:'';
			}
		}
		

		
		&_state_passed {
		
			border-style: solid;
			
			&:before {
				
				margin:-1px 7px 0 0;
				height:2px;
				background:#dde5eb;
				border:0;
				content:'';
			}
		}
	}
	
	&__clause:before {
		
		position:absolute;
		top:50%;
		right:100%;
		margin:-1px 7px 0 0;
		width:11px;
		height:0;
		border:1px dashed #dde5eb;
		box-sizing:border-box;
		content:'';
	}
	
	&__clause:first-child {
		
		margin-left:30px;
	}
	
	&__clause:first-child:before {
		
		position:absolute;
		top:50%;
		right:100%;
		margin:-1px 7px 0 0;
		width:20px;
		height:2px;
		background:#dde5eb;
		border:0;
		content:'';
	}
	
	&__clause:last-child:after {
		
		position:absolute;
		top:50%;
		left:100%;
		margin:-1px 0 0 7px;
		width:980px;
		height:0;
		border:1px dashed #dde5eb;
		box-sizing:border-box;
		content:'';
	}
	
	&:after {
		
		display: block;
		content: ".";
		height: 0;
		clear: both;
		overflow: hidden;
		visibility: hidden;
	}
}
