.b-logo
{
	position:absolute;
	width:312px;
	height:44px;
	text-indent:-9999px;
	
	&__link {
		
		position:relative;
		display:block;
		height:100%;
	}
	
	&:before {
	
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:url(images/graphics.png) no-repeat 0 0;
		content: '';
	}
	
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		  
	  	&:before {
	
	  		background-image:url(images/graphics-2x.png);
			background-size: 500px 500px;
	  	}  
	}
}
