.b-registration-form
{
	position:relative;
	border:4px solid #dde5eb;
	border-radius:10px 0 10px 0;
	padding:30px;
	background: #fefefe;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY4ZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fefefe 0%, #f5f8fa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f5f8fa));
	background: -webkit-linear-gradient(top,  #fefefe 0%,#f5f8fa 100%);
	background: -o-linear-gradient(top,  #fefefe 0%,#f5f8fa 100%);
	background: -ms-linear-gradient(top,  #fefefe 0%,#f5f8fa 100%);
	background: linear-gradient(to bottom,  #fefefe 0%,#f5f8fa 100%);
	box-shadow: 0 2px 10px rgba(65, 99, 125, .2);
	margin-bottom:25px;
	
	&__title {
	
		font-size:22px;
		font-weight:normal;
		line-height:26px;
		color:#000;
		margin:0 0 10px 0;
	}
	
	&__description {
		
		font-size:14px;
		line-height:20px;
		color:#94a0a8;
		width:500px;
		margin:0;
	}
	
	&__label {
		
		font-size:14px;
		line-height:20px;
		color:#94a0a8;
		
		&_type_phone {
			
			display:inline-block;
			line-height:30px;
			vertical-align:top;
		}
		
		&_type_code {

			display:block;
			line-height:20px;
			color:#000;
			margin-bottom:30px;
		}
	}
	
	&__resend {
		
		font-size:14px;
		line-height:20px;
		color: #94a0a8;
		margin: 30px 0 0 0;
		padding:0;
		
		&__link {
			
			color:#94a0a8;
			text-decoration:none;
			border-bottom:1px dashed #d4d5d7;
		}
		
		&__link:hover {
			
			border-bottom-color:#94a0a8;
		}
	}
	
	&__tab__contents {
		
		padding:30px 0 0 0;
		
		&_position_first {
		
			margin:0 -35px;
		}
		
		&_position_second {
		
			position:relative;
			padding:30px 195px 0 325px;
			min-height:225px;
			
			&:before {
	
				position:absolute;
				top:40px;
				left:55px;
				width:194px;
				height:155px;
				background:url(images/graphics.png) no-repeat 0 -85px;
				content:"";
			}
			
			@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
				
				&:before {
	
					background-image:url(images/graphics-2x.png);
					background-size:500px 500px;
				}
			}
		}
	}
	
	&__tab__contents:after {
		
		display: block;
		content: ".";
		height: 0;
		clear: both;
		overflow: hidden;
		visibility: hidden;
	}
	
	&__section {
		
		position:relative;
		float:left;
		width:300px;
		margin-left:20px;
		min-height:225px;
		box-sizing:border-box;
		
		&:after {
		
			position: absolute;
			top:0;
			bottom:0;
			width:1px;
			background:#dde5eb;
			content:"";
		}
		
		&__title {
		
			position:relative;
			font-size:14px;
			font-weight:normal;
			line-height:20px;
			margin:0 0 25px 0;
			color:#303030;
			padding-left:45px;
			
			&:before {
			
				position:absolute;
				top:2px;
				left:0;
				width:30px;
				height:30px;
				font-size:16px;
				text-align:center;
				line-height:28px;
				border:2px solid #303030;
				border-radius:15px;
				box-sizing:border-box;
				content:"1";
			}
			
			&_position_second:before {
			
				content:"2";
			}
			
			&_position_third:before {
			
				content:"3";
			}
		}
		
		&_position_first {
		
			padding:0 20px 0 15px;
			
			&:after {
			
				left:100%;
				margin-left:10px;
			}
		}
		
		&_position_second {
		
			padding:0 20px;
			
			&:after {
			
				left:100%;
				margin-left:10px;
			}
			
			&:before {
		
				position: absolute;
				top:0;
				bottom:0;
				right:100%;
				margin-right:9px;
				width:1px;
				background:#dde5eb;
				content:"";
			}
		}
		
		&_position_third {
		
			padding-left:20px;
			padding-right:20px;
			
			&:after {
			
				right:100%;
				margin-right:9px;
			}
		}
	}
	
	&__message {
		
		position:absolute;
		top:100%;
		left:0;
		right:0;
		font-size:14px;
		line-height:70px;
		margin:0;
		text-align:center;
		
		&__link {
			
			color:#08628c;
			text-decoration:none;
			border-bottom:1px solid #b5d0dd;
		}

		&__link:hover {

			border-bottom-color:#08628c;
		}
	}
	
	.b-tabs {
		
		margin:20px -30px 0 -30px;
	}
}
