.b-promos {
	
	position:relative;
	float: right;
	overflow:hidden;
	border-radius:0 0 10px 0;
	
	&__roller {
		
		position:absolute;
		top:50%;
		right:0;
		width:25px;
		height:55px;
		margin-top:-27px;
		border-radius:2px 0 0 2px;
		background-image: -moz-linear-gradient( 90deg, rgb(221,45,33) 0%, rgb(236,62,29) 46%, rgb(250,78,25) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(221,45,33) 0%, rgb(236,62,29) 46%, rgb(250,78,25) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(221,45,33) 0%, rgb(236,62,29) 46%, rgb(250,78,25) 100%);
		cursor:pointer;
		z-index:2;
		
		&:before {
			
			position:absolute;
			top:50%;
			left:50%;
			width:10px;
			height:15px;
			margin:-7px 0 0 -4px;
			background:url(images/graphics.png) no-repeat 0 -245px;
			content:"";
		}
		
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			
		  	&:before {
	
		  		background-image:url(images/graphics-2x.png);
				background-size: 500px 500px;
		  	}
		}
	}
	
	&__article {
		
		position:relative;
		width:730px;
		height:285px;
		
		&__link {
			
			display:block;
			height:100%;
		}
		
		&__picture {
			
			position:absolute;
			top:0;
			left:0;
		}
		
		&__title {
			
			position:absolute;
			top:60px;
			left:60px;
			right:200px;
			font-size:34px;
			font-weight:normal;
			line-height:40px;
			color:#fff;
			margin:0;
			z-index:2;
			text-shadow:0 1px 2px rgba(0,0,0,.4);
		}
		
		&__description {
			
			position:absolute;
			bottom:60px;
			left:60px;
			font-size:16px;
			font-weight:normal;
			line-height:20px;
			color:#fff;
			z-index:2;
			text-shadow:0 1px 2px rgba(0,0,0,.4);
			border-bottom:1px solid rgba(255,255,255,.5);
		}
	}
}