.b-promos {
	
	position:relative;
	float: right;
	overflow:hidden;
	border-radius:0 0 10px 0;
	
	&__article {
		
		position:relative;
		width:730px;
		height:285px;
		
		&__link {
			
			display:block;
			height:100%;
		}
		
		&__picture {
			
			position:absolute;
			top:0;
			left:0;
		}
		
		&__title {
			
			position:absolute;
			top:60px;
			left:60px;
			right:200px;
			font-size:34px;
			font-weight:normal;
			line-height:40px;
			color:#fff;
			margin:0;
			z-index:2;
			text-shadow:0 1px 2px rgba(0,0,0,.4);
		}
		
		&__description {
			
			position:absolute;
			bottom:60px;
			left:60px;
			font-size:16px;
			font-weight:normal;
			line-height:20px;
			color:#fff;
			z-index:2;
			text-shadow:0 1px 2px rgba(0,0,0,.4);
			border-bottom:1px solid rgba(255,255,255,.5);
		}
	}
}