.b-promos-previews
{
	margin:-20px 0 0 -20px;
	
	.b-promos-article {
	
		position:relative;
		float:left;
		margin:20px 0 0 20px;
		width:480px;
		height:220px;
		perspective: 1000;
		
		&__inside {
		
			transition: 0.8s;
			transform-style: preserve-3d;
			position: relative;
			height:100%;
		}
		
		&__inside:hover {
			
			transform: rotateX(180deg);
		}
		
		&__section {
			
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width:480px;
			height:220px;
			border-radius:10px 0 10px 0;
			box-sizing:border-box;
			overflow:hidden;
			
			&_position_front {
			
				z-index: 2;
			}
			
			&_position_front:before {
				
				position:absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC40Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
				background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4)));
				background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
				background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
				background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
				background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%);
				content:'';
			}
			
			&_position_back {
			
				background:#ef3224;
				transform: rotateX(180deg);
				padding:30px;
			}
		}
		
		&__picture {
			
			width:100%;
		}
		
		&__title {
			
			position:absolute;
			left:30px;
			right:60px;
			bottom:35px;
			font-size: 28px;
			margin:0;
			font-weight:normal;
			color:#fff;
			line-height: 30px;
			text-shadow: 0px 1px 2px rgb( 0, 0, 0, .6);
			z-index: 2;
		}
		
		&__description {
			
			font-size:14px;
			line-height:20px;
			color:#fff;
			margin:20px 0 0 0;
			width:90%;
		}
		
		&__description__title {
			
			font-size:16px;
			line-height:22px;
			color:#fff;
			margin:0;
		}
		
		&__description__link {
			
			position:absolute;
			left:30px;
			bottom:30px;
			font-size:14px;
			line-height:20px;
			color:#fff;
			border-bottom:1px solid #f4766f;
			margin:0;
		}
		
		&__description__link:hover {
			
			border-bottom-color:#fff;
		}
	}
	
	&:after {
		
		display: block;
		content: ".";
		height: 0;
		clear: both;
		overflow: hidden;
		visibility: hidden;
	}
}
